ldaploginmodule {
   org.mortbay.jetty.plus.jaas.ldap.LdapLoginModule required
   debug="true"
   contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
   hostname="ipa01.jcfernandez.cediant.es"
   port="389"
   bindDn="dc=jcfernandez,dc=cediant,dc=es"
   bindPassword="directory"
   authenticationMethod="simple"
   forceBindingLogin="false"
   userBaseDn="cn=users,cn=accounts"
   userRdnAttribute="uid"
   userIdAttribute="uid"
   userPasswordAttribute="userPassword"
   userObjectClass="inetOrgPerson"
   roleBaseDn="cn=roles,cn=accounts"
   roleNameAttribute="cn"
   roleMemberAttribute="uniqueMember"
   roleObjectClass="groupOfUniqueNames";
   };